<!DOCTYPE html>
<html>
  <head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
	  <h1>Welcome to OdinBook, <%= @user.name %></h1>
		<p>
		  You have successfully signed up for OdinBook. 
			Your username is: <%= @user.email %><br>
		</p>
		<p>
		  To login to the site, just follow this link: <%= @url %>
		</p>
		<p>Thanks for joining!</p>
	</body>
</html>