<ul>
	<% @requests.each do |request| %>
		<li>
			<%= link_to request.inviter.name.capitalize, request.inviter %>
			<%= render 'users/accept', locals: {inviter_id: request.inviter.id} %>
			<%= render 'users/reject', locals: {inviter_id: request.inviter.id} %>
		</li>
	<% end %>
</ul>