<% if current_user.friends.include?(object) %>
  <p>Friends!</p>
<% else %>
	<div id='friend_request_form'>
			<% if object.invited?(current_user) %>
				<%= render 'accept', locals: {inviter_id: object.id} %>
				<%= render 'reject', locals: {inviter_id: object.id} %>
			<% elsif current_user.invited?(object) %>
				<%= render 'unrequest', object: object %>
			<% else %>
				<%= render 'request', object: object %>
			<% end %>
	</div>
<% end %> 

