<% if current_user.friends.include?(@user) %>
  <p>Friends!</p>
<% else %>
	<div id='friend_request_form'>
			<% if current_user.invited?(@user) %>
				<%= render 'unrequest' %>
			<% else %>
				<%= render 'request' %>
			<% end %>
	</div>
<% end %>