<% provide(:title, 'Users') %>
<h1>All users</h1>
<div class='container'>
	<ul>
		<% @users.each do |user| %>

			<li>
					<%= link_to user.name, user %>
					<%= render 'friend_request_form', object: user %>
			</li>

		<% end %>
	<ul>
</div>