<% provide(:title, @user.name) %>

<div class="container">
  <div class='row'>
		<div class='avatar'>
			<%= avatar_for @user %>
		</div>
		<h2><%= @user.name %></h2>
	</div>
	<% if @user == current_user %>
	  <%= render 'user' %>
	<% else %>
	  <%= render 'other_user'%>
	<% end %>
</div>



