<ul>
	<% post.commentz.each do |comment| %>
  	<li>
			<%= link_to comment.author.name.capitalize, comment.author %>
			<%= comment.content %> 
			<small><em>
				...<%= comment.updated_at.strftime("%b %e, %Y at %k:%M") %>
			</em></small>
			<%= link_to 'delete', comment,
														method: :delete,
														data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>

