<ul class='feed_posts'>
  <% @posts.each do |post| %>
		<li>
			<%= link_to post.author.name, post.author %><br>
			Post:   <%= post.content %><br>
			<%= render partial: 'shared/like_form', locals: {post: post} %>
		</li>
	<% end %>
</ul>
