<ul class='feed_posts'>
  <% @posts.each do |post| %>
		<li>
			<%= link_to post.author.name, post.author %><br>
			Post:   <%= post.content %><br>
			<%= link_to 'like', '#' %><br><br>
		</li>
	<% end %>
</ul>
