<div class='row'>
	<%= avatar_for current_user %>	
	<h1>Welcome, <%= current_user.name.capitalize %></h1>
</div>
	<section class='write'>
		<%= render 'shared/post_form' %>
	</section>
	<section class='posts'>
	  <%= render 'shared/posts' %>
	</secion>