@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */
body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea { 
	resize: vertical;
}

.center {
	text-align: center;
	padding-top: 60px;
}